body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.about-main {
    width: 100%;
    background: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: darkslategray;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}


ul{
    margin-top: 1%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-top: -3%;
    transition: .4s ease;

}

ul li a:hover{
    color: orangered;
}

h1 {
    color: orange;
}
p {
    font-size: 14px;
    line-height: 1.6;
}
.skills {
    margin: 20px 0;
    font-weight: bold;
}
